[submodule "somerachan/iutest"]
	path = somerachan/iutest
	url = https://github.com/srz-zumix/iutest.git
[submodule "somerachan/oh-my-gyp"]
	path = somerachan/oh-my-gyp
	url = git@github.com:mogemimi/oh-my-gyp.git
[submodule "somerachan/utfcpp"]
	path = somerachan/utfcpp
	url = git@github.com:nemtrif/utfcpp.git
